<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825087687810-dvdi0dketd4of0mlggum4dq37evgu394.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825087687810-dvdi0dketd4of0mlggum4dq37evgu394</string>
	<key>API_KEY</key>
	<string>AIzaSyBSQiCcpyAx_83RyNhRIRtUKiEYqF55Kzo</string>
	<key>GCM_SENDER_ID</key>
	<string>825087687810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kurozetsubou.spendwise</string>
	<key>PROJECT_ID</key>
	<string>gen-lang-client-0331993039</string>
	<key>STORAGE_BUCKET</key>
	<string>gen-lang-client-0331993039.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825087687810:ios:9be3636ecf89aaa9a8c89b</string>
</dict>
</plist>